<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/publications.css">
{{ if .Site.Params.publications.enable | default false }}
<section id="publications" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center">{{ .Site.Params.all_publications.title | default "All Publications" }}</h3>
        <br>
        {{ $prevDate := 0 }}
        {{ range $index, $element := .Site.Params.publications.items }}
        <p class="pub {{ .venue_type }} justify-content-center px-5 px-md-5">
            {{ $date := .date }}
            {{ $authorNo := len .authors }}
            {{ if gt $date $prevDate }}
                <h4>{{ .date }}</h4>
                {{ $prevDate := $date }}
            {{ end }}
            {{ range $authorIndex, $author := .authors }}
                {{ if not (eq (add $authorIndex 1) $authorNo) }}
                     {{ if eq . "Periklis Mantenoglou" }}
                        <u>{{ . }}</u>,
                     {{ else }}
                        {{ . }},
                     {{ end }}
                {{ else }}
                     {{ if eq . "Periklis Mantenoglou" }}
                        <u>{{ . }}</u>:
                     {{ else }}
                        {{ . }}:
                     {{ end }}
                {{ end }}
            {{ end }}
            <b>{{ .title }}</b>.
            <br>
            In <em>{{ .venue }}</em> ({{ .acronym }}). {{ if .volume }}{{ .volume }}:{{ end }}{{ .first_page }}&ndash;{{ .last_page }}, {{ .date }}. 
            {{ if .pdf }}<a href="{{ .pdf }}" target="_blank" class="button PDF">PDF</a>{{ end }}
            {{ if .slides }}<a href="{{ .slides }}" target="_blank" class="button SLIDES">Slides</a>{{ end }}
            {{ if .video }}<a href="{{ .video }}" target="_blank" class="button VIDEO">Video</a>{{ end }}
            {{ if .code }}<a href="{{ .code }}" target="_blank" class="button CODE">Code</a>{{ end }}
            {{ if .bib }}<a href="{{ .bib }}" target="_blank" class="button BIB">BibTeX</a>{{ end }}
            {{ if .doi }}<a href="{{ .doi }}" target="_blank" class="button DOI">DOI</a>{{ end }}
        </p>
        {{ end }}
        <div style="text-align:center">
        <a href="publications" rel="noopener" class="center btn btn-light btn-lg" style="font-size:16px">Click here for the complete list</a>
        </div>
    </div>
</section>
{{ end }}

