{{ if .Site.Params.publications.enable | default false }}
<section id="publications" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.publications.title | default "Selected Publications" }}</h3>
        <br>
        {{ range $index, $element := .Site.Params.publications.items }}
        <p class="pub {{ .venue_type }} justify-content-center px-3 px-md-5">
            {{ $authorNo := len .authors }}
            {{ range $authorIndex, $author := .authors }}
                {{ if not (eq (add $authorIndex 1) $authorNo) }}
                     {{ if eq . "Periklis Mantenoglou" }}
                        <u>{{ . }}</u>,
                     {{ else }}
                        {{ . }},
                     {{ end }}
                {{ else }}
                     {{ if eq . "Periklis Mantenoglou" }}
                        <u>{{ . }}</u>:
                     {{ else }}
                        {{ . }}:
                     {{ end }}
                {{ end }}
            {{ end }}
            <b>{{ .title }}</b>.
            <br>
            In <em>{{ .venue }}</em> ({{ .acronym }}). {{ if .volume }}{{ .volume }}:{{ end }}{{ .first_page }}&ndash;{{ .last_page }}, {{ .date }}.
        </p>
        {{ end }}
    </div>
</section>
{{ end }}


