{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<!-- <link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all"> -->
{{ if .Params.viewer | default true }}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/publications.css">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/viewer/viewer.min.css">
<script src="{{ .Site.Params.staticPath }}/viewer/viewer.min.js"></script>
{{ end }}

{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<link rel="stylesheet" href="{{.Site.Params.staticPath}}/css/publications.css">
{{ if .Site.Params.publications.enable | default false }}
<section id="publications" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center">{{ .Site.Params.all_publications.title | default "All Publications" }}</h3>
        <br>
        {{ range $index, $element := .Site.Params.publications.items }}
        <p class="pub {{ .venue_type }} justify-content-center px-5 px-md-5">
            {{ $authorNo := len .authors }}
            {{ range $authorIndex, $author := .authors }}
                {{ if not (eq (add $authorIndex 1) $authorNo) }}
                     {{ if eq . "Periklis Mantenoglou" }}
                        <u>{{ . }}</u>,
                     {{ else }}
                        {{ . }},
                     {{ end }}
                {{ else }}
                     {{ if eq . "Periklis Mantenoglou" }}
                        <u>{{ . }}</u>:
                     {{ else }}
                        {{ . }}:
                     {{ end }}
                {{ end }}
            {{ end }}
            <b>{{ .title }}</b>.
            <br>
            In <em>{{ .venue }}</em> ({{ .acronym }}). {{ if .volume }}{{ .volume }}:{{ end }}{{ .first_page }}&ndash;{{ .last_page }}, {{ .date }}. 
            {{ if .pdf }}<a href="{{ .pdf }}" target="_blank" class="button PDF">PDF</a>{{ end }}
            {{ if .slides }}<a href="{{ .slides }}" target="_blank" class="button SLIDES">Slides</a>{{ end }}
            {{ if .video }}<a href="{{ .video }}" target="_blank" class="button VIDEO">Video</a>{{ end }}
            {{ if .code }}<a href="{{ .code }}" target="_blank" class="button CODE">Code</a>{{ end }}
            {{ if .bib }}<a href="{{ .bib }}" target="_blank" class="button BIB">BibTeX</a>{{ end }}
            {{ if .doi }}<a href="{{ .doi }}" target="_blank" class="button DOI">DOI</a>{{ end }}
        </p>
        {{ end }}
    </div>
</section>
{{ end }}

{{ if .Params.viewer | default true }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var viewer = new Viewer(document.getElementById('list-page'), {
            ...{{ .Params.viewerOptions }}
        });
    });
</script>
{{ end }}

{{ end }}
